<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="hideWindow.css" rel="stylesheet">
    <title>Windows</title>
</head>

<body ng-app="myApp" ng-controller="mainController">
    <div>
        <br/>
        <button class="btn btn-info col-md-4 col-md-offset-4" ng-click="searchHub()">
            <p class="glyphicon glyphicon-search" /> Search Hub
        </button>
        <br/>
    </div>

    <!--Hide Windows-->
    <div ng-show="bHide">
        <div class="black_overlay">
            <div class="white_content">
                <div style="text-align: right; cursor: default; height: 40px;">
                    <span class="btn btn-link" ng-click="closeHub()">
                        <p class="glyphicon glyphicon-remove" />
                    </span>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." ng-model="keyword">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="getRespo()">Go!</button>
                        </span>
                    </div>
                </div>
                
                <div class="col-lg-8 col-lg-offset-2">
                    <ul>
                        <li ng-repeat="item in repos">{{item}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="mainController.js"></script>
</body>

</html>